<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REDIRECT_URI</key>
	<string>https://apic.musixmatch.com/connec/bm</string>
	<key>CLIENT_ID</key>
	<string>eesyv8mv7yppctycawjdgf4p</string>
	<key>CLIENT_SECRET</key>
	<string>eesyv8mv7yppctycawjdgf4p</string>
</dict>
</plist>
